---
import ThemeToggle from "@/components/layout/ThemeToggle.astro";
import Search from "./Search.astro";
import siteConfig  from "@/site.config";
---

<header>
  <div class="mt-20 mb-10">
    <div class="flex justify-between items-center">
      <a href={import.meta.env.BASE_URL} class="text-5xl font-title font-black">{siteConfig.SiteName}</a>
      <div class="flex gap-2">
        <div>
          <Search />
        </div>
        <div>
          <ThemeToggle />
        </div>
      </div>
    </div>
    <nav class="divide-x -ms-3 mt-2 divide-dashed font-serif">
      {
        siteConfig.menuLinks.map(link => (
          <a href={`${import.meta.env.BASE_URL}${link.path}`} class="text-xl px-3 box-border font-semibold">{link.title}</a>
        ))
      }
    </nav>
  </div>
</header>
